/* Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* /Reset */

/* debug */
.main-container {
    width: 80%;
    margin: 0 auto;
}

.heading1 {
    height: 100px;
}

.heading2 {
    height: 350px;
    margin-top: 15px;
    background-color: #F0E68C;
}

main {
    margin-top: 15px;
    padding-bottom: 15px;
    background-color: #1E90FF;
}

main::after {
    content: "";
    display: table;
    clear: both;
}

.top-container {
    height: 80px;
    margin-bottom: 15px;
    background-color: #ADD8E6;
}

.aside-left {
    width: 19%;
    height: 400px;
    background-color: #ADD8E6;
    float: left;
}

.mid-container {
    width: calc(60% - 20px);
    height: 400px;
    margin: 0 20px;
    float: left;
    background-color: #ADD8E6;
}

.aside-right {
    width: 19%;
    height: 400px;
    background-color: #ADD8E6;
    float: left;
}

footer {
    height: 50px;
    margin-top: 7px;
    background-color:#8A2BE2 ;
}
/* /debug */

body {
    font-family: 'Montserrat', sans-serif;
}

#logo {
    width: 140px;
    height: 60px;
}

.list-inline li {
    list-style: none;
    display: inline-block;
    padding: 10px 10px 10px 0;
    font-size: 15px;
}

.list-inline a {
    text-decoration: none;
    color: grey;
}

.list-inline li a:hover{
    color: black;
}





